<main class="editar-perfil-page">

<img src="@ViewBag.Usuario.foto" alt="foto de perfil" />

<form action='@Url.Action("aceptarCambiosPerfil", "Home")' method="POST">

    <label>Username</label>
    <input type="text" name="username" value="@ViewBag.Usuario.username"/>

    <label>Fecha de Nacimiento</label>
    <input type="date" name="fechaNacimiento" value="@ViewBag.Usuario.fechaNacimiento.ToString("yyyy-MM-dd")"/>

    <label>Objetivo</label>
    <input type="text" name="objetivo" value="@ViewBag.Usuario.objetivo"/>

    <label>Descripción</label>
    <textarea name="descripcion" rows="4">@ViewBag.Usuario.descripcion</textarea>

    <input type="submit" value="Aceptar" />

</form>

<a href='@Url.Action("Perfil", "Home")'>Cancelar</a> 

</main>