        <h1>Tiempo de productividad</h1>

            <section> 
            
              <div class=>

                 <h2 id="dia"> @ViewBag.horaDiaria horas </h2>

              </div>

            </section>

            <section>

                <div>

                  <h2 id="semanal1"> @ViewBag.horasSemanales[0] horas </h2>

                </div>

                <div>

                  <h2 id="semanal2"> @ViewBag.horasSemanales[1] horas </h2>

                </div>

                <div>

                  <h2 id="semanal3"> @ViewBag.horasSemanales[2] horas </h2>

                </div>

                <div>

                  <h2 id="semanal4"> @ViewBag.horasSemanales[3] horas </h2>

                </div>

                <div>

                  <h2 id="semanal5"> @ViewBag.horasSemanales[4] horas </h2>

                </div>

                <div>

                  <h2 id="semanal6"> @ViewBag.horasSemanales[5] horas </h2>

                </div>

                <div>

                  <h2 id="semanal7"> @ViewBag.horasSemanales[6] horas </h2>

                </div>

            
            </section>

<<<<<<< HEAD
            <section> 

            <div>
              <h2 id="mensual1">
                @ViewBag.horasMensuales horas
              </h2>
            </div>

            <div>
              <h2 id="mensual2">
                @ViewBag.horasMensuales horas
              </h2>
            </div>

            <div>
              <h2 id="mensual3">
                @ViewBag.horasMensuales horas
              </h2>
            </div>

            <div>
              <h2 id="mensual4">
                @ViewBag.horasMensuales horas
              </h2>
            </div>

            
            </section>
=======
>>>>>>> c479c8fc7d50f76268bb4c172c5adcab94386ac7




            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h1>semanal</h1>
                  </div>
                  <div class="carousel-item">
                    <h1>mensual</h1>
                  </div>
                  <div class="carousel-item">
                    <h1>diario</h1>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" onclick = pasar(-1)>
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" onclick = pasar(1)>
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <h1>Apps más usadas</h1>

            <div class="parent1">
                 <div class="bronce"><img src="" alt="AppBronce"></div>
                 <div class="plata"><img src="" alt="AppPlata"></div>
                 <div class="oro"><img src="" alt="AppOro"></div>
            </div>
    
    <script src="~/js/estadisticas.js"></script>