    <main>
        <div>
            <img src="/Imagenes/FotoPerfil.jpg" alt="Perfil">
            <h1>@ViewBag.Usuario.username</h1>
            <h3>@ViewBag.Usuario.fechaNacimiento</h3>
            @if(ViewBag.Usuario.Objetivo != null)
            {
                <h3>Objetivos: @ViewBag.Usuario.Objetivo</h3>
            }
            else{
                <h3>Objetivos:</h3>
            }
            @if(ViewBag.Usuario.Descripci贸n != null)
            {
                <h3>Descripci贸n: @ViewBag.Usuario.Descripci贸n</h3>
            }
            else{
                <h3>Descripci贸n:</h3>
            }
        </div>

        <div>

            <a href='@Url.Action("Editar_Perfil","Home")'>Editar</a>
            <a href='@Url.Action("Index","Home")'>LogOut</a>

        </div>


    </main>